@model WeatherApp1.Models.WeatherForecast

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeatherForecast</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RainProbability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RainProbability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunrise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunrise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoonPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoonPhase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
