@model IEnumerable<WeatherApp1.Models.WeatherForecast>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RainProbability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunrise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoonPhase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RainProbability)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunrise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoonPhase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
